language: python
sudo: required
python:
- '2.7'
- '3.4'
install: pip install -r requirements.txt
script: nosetests test/unit
before_deploy:
- "./setup_runtime.sh"
- "./make_manifest.sh staging"
deploy:
  edge: true
  provider: cloudfoundry
  api: https://api.run.pivotal.io
  username: matt@mattclark.net
  password:
    secure: D3OrN9+nuPkcaAZYn2CXJ+zgbNiyiMHBvjS76untI56B6BZvtDisHCV62WrBlO4wv6h8E0zEl7hYUr8SI9xkcrfOSL+fVeCCvXr+AZwu3nrE4ISXVTnIkd74mOzyumVZv6gX5GeDBQ/CofeeRUw2RvqcOuVQDNicwo9bTG91JVVoth7J17ZKm9MwE+fWl3WTqGiYTpkj+kX+fGe4k1MuEPrzTrCV19AKwmM8cD0Q27TrAV4wy4YIP4lXWubqT3sDqDwR9XHppUTkO0rDOfzRE9HukpFikCGrRkHKK0VvEUAtqVxjcfSS98+KUUNYbndr2+cEMEy4DjLVdb/+xfmd4vIhz32xZqf89RvbQHHmL2ERER363cvvR6RMv1ueFlTYQrD0Xie84Ct+8FN0nFnJ7X9J5qdHclkkkLgFoqHnC8ba65ZQvfC+7hXaXXaqc4lZ0OD+OQXx6klB+wgis1CB7StJCMo6O6rLMRhXhxGXVlCqSBNMxJlR5IzaKV01oTBRa8g9qvOe4zJKa0/rwLZVo3dNpGg3/juYqyJh8OUnO2Mv3a2PW0GTuoa0bUT4tTwna5wa6nax+DGp4C9jsOk+qMX0zB/SX3KFRXbopfoJi6IXt1ta9dytcUJQm9MgQmicgqVFF43mYwkeRy4edSnzzF+mwjgyyqXl7lITj5buda0=
  organization: mattclark.net
  space: staging